/* body{
    font-family:'Montserrat', sans-serif;
} */
:root{
    background-color:#00BFA5;
    background-color: #2C2E35;
    background-color: #8F9091;
    background-color: #F4F4F4;
    font-family: 'Montserrat', sans-serif;

}
header{
    width:100vw;
    position:fixed;
    top:0;
    z-index:2;
}


#carrousel{
   position:relative; 


}

.overlay{
    z-index:1;
    position:absolute;
    top:50;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba (0,0,0, 0.5);
    color:white;



}
#carousel h1{
    font-size: 80px;

}
